@{
    ViewBag.Title = "Home Page";
}

<div class="w3-row-padding" id="about">
    <div>
        <h1>About</h1>
        <h4>
            we have best hotel recommendations .we provide information which is accurate and the best rates to ours users is our primary focus.
            we provide hotels with best security and facilities.
            get to know more about us at hotelreservation.com
        </h4>


        <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
        <div class="w3-panel w3-dark-grey  w3-padding-8">
            <h4><i class="fa fa-info w3-dark-grey w3-padding "></i> On demand, we can offer playstation, babycall, children care, dog equipment, etc.</h4>
        </div>
    </div>




    <div class="w3-container" id="contact">
        <h2>Contact</h2>
        <p>If you have any questions, do not hesitate to ask them.</p>
        <i class="fa fa-map-marker w3-text-dark-grey" style="width:30px"></i> Telangana, IN<br>
        <i class="fa fa-phone w3-text-dark-grey" style="width:30px"></i> Phone: +917997095188<br>
        <i class="fa fa-envelope w3-text-dark-grey" style="width:30px"> </i> Email: mail@mail.com<br>
        <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
            <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
        </form>
    </div>
</div>